examples/gate-demo.json
[{"id":"f61b4c1c.d6f8","type":"inject","z":"7886adba.5d75d4","name":"input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["89fe3029.ac0b7"]]},{"id":"57c0705e.2b648","type":"inject","z":"7886adba.5d75d4","name":"open","props":[{"p":"payload","v":"open","vt":"str"},{"p":"topic","v":"control","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":250,"y":100,"wires":[["89fe3029.ac0b7"]]},{"id":"e56d6ef2.db15b8","type":"inject","z":"7886adba.5d75d4","name":"close","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"close","payloadType":"str","x":250,"y":140,"wires":[["89fe3029.ac0b7"]]},{"id":"310d032f.aa197c","type":"inject","z":"7886adba.5d75d4","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":250,"y":260,"wires":[["89fe3029.ac0b7"]]},{"id":"c5e19f28.1e37d","type":"inject","z":"7886adba.5d75d4","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":250,"y":300,"wires":[["89fe3029.ac0b7"]]},{"id":"8ba20475.bd1c28","type":"debug","z":"7886adba.5d75d4","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"7f423eb5.3d6508","type":"inject","z":"7886adba.5d75d4","name":"status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"status","payloadType":"str","x":250,"y":340,"wires":[["89fe3029.ac0b7"]]},{"id":"516d9d16.30ddac","type":"status","z":"7886adba.5d75d4","name":"gate status","scope":["b464bbaa.5be868"],"x":440,"y":260,"wires":[["f66030c4.9dce28"]]},{"id":"f66030c4.9dce28","type":"debug","z":"7886adba.5d75d4","name":"status text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status.text","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"107d08e3.ef8ef7","type":"inject","z":"7886adba.5d75d4","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payloadType":"str","x":250,"y":400,"wires":[["89fe3029.ac0b7"]]},{"id":"89fe3029.ac0b7","type":"gate","z":"7886adba.5d75d4","name":"gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memoryOnly","x":450,"y":200,"wires":[["8ba20475.bd1c28"]]}]